<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" type="image/x-icon" href="img/mars.png">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Mission to Mars</title>
	
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>Mission to Mars</h1>
			<p><a class="scrapebtn" href="/scrape" role="button" onclick="$('#loading').show();">New Data</a></p>
			 <!--<a class="scrapebtn" href="/scrape">New Data</a><br>-->
			<img class="arrow" src="img/arrow.png">
		</div> <!--header-->
		<!--Mars News --->
		<div class="newscontainer">
			<h3>NASA Latest Mars News</h3>
			<h4>{{data.news_title}}</h4> 
			<p>{{data.news_paragraph}}</p>
		</div> <!--newscontainer-->
		<!--Mars Facts --->
		<div class="container2">
			<div class="row">
				<div class="col-lg-1">
					<h3>Mars Facts</h3><br>
					{{data.facts}}
				</div> <!--col-lg-1-->

		<!--JPL Mars Space Images - Featured Images --->		
				<div class="col-lg-2">
					<h3>JPL Mars Space Images - Featured Images</h3> <br>
					<img class='img-responsive fit-image' src={{data.featured_image}} alt="Mars Space Image">
				</div> <!--col-lg-2-->
			</div> <!--row-->
		<!--Mars Weather from Tweeter --->
			<div class="row">
				<div class="col-lg-3">
					<h3>Mars Weather</h3><br>
					<p class="text">{{data.weather}}</p> 
				</div> <!--col-lg-3-->
		<!--Mars Hemispheres --->
				<div class="col-lg-4">
					<h3>Mars Hemispheres</h3> <br>
					{% for item in data.hemisphere_image_urls%}
					<div class="smallcontainer">
						<div class="col-md-5">
							<img class="card-img-top" src="{{item.img_url}}" alt=""/>
							<div class="card-body">
								<p class="card-text">{{item.title}}</p>
							</div>
						</div> <!--col-md-5-->
					</div>
					{% endfor %}
				</div> <!--col-lg-4-->
		<!--End browser --->
			</div> <!--row-->
		</div><!--container2-->
	</div> <!--container-->
</body>
</html>
