* {
  margin: 0;
  padding: 0;
}
body {
  font-family: arial, sans-serif, helvetica;
  border-block-color: black;
  background-color: #EE5A24;
  color: white;
}

.header {
	text-align: center;
	background-image: url("https://mars.nasa.gov/system/resources/detail_files/24766_PIA23500-web.jpg");
	background-size: 110%;
	background-image: black;
	border:50px
	padding-top: 15%;
	padding-bottom: 0%;
}

.header h1 {
	font-size: 50px;
	font-weight: 750;
	margin-bottom: 100px;
}

.scrapebtn {
	border: 2px solid white;
  	padding: 15px 32px;
  	color: white;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
}

.arrow {
	margin-top: 200px;
	max-width: 5%;
    height: auto;
}

.newscontainer {
	margin-top: 100px;
	padding-left: 20px;
	margin-bottom: 100px;
}

.newscontainer h3 {
	margin-bottom: 30px;
	font-size: 30px;
	
}
/* -----Container 2 ----*/
.container2 {
	margin: 5px;
	padding-left: 10px;
}

.h3 {
    display: block;
    font-size: 2.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.col-lg-1 {
	margin-bottom: 50px;
	float: left;
	padding-right: 500px;
}

.col-lg-2 {
	margin-left: 700px;
}
.col-lg-2 img {
	width: 400px;
}

/* -----Container 3 ----*/
.container3 {
	margin-left: 100px;
	margin-top: 20px;
	padding-left: 20px;
	max-width: 1200px;
}